<h1>Welcome#index - dafuq?</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>DaFuq?!?</p>
<a href="http://guides.rubyonrails.org/v4.2/getting_started.html">I am learning stuff here!</a><br>
<a href="http://guides.rubyonrails.org/v4.2/routing.html">I've got a lot to learn about routing in Rails</a><br>
<a href="http://stackoverflow.com">I search for stuff here.</a><br>
<a href="https://gorails.com/setup/osx/10.12-sierra">...and I set stuff up here</a><br>
<h1>WaDaFuq, Rails?</h1>

<%= link_to 'My Blog', controller: 'articles' %>
